@import '../../../styles/variables';
@import '../../../styles/mixins';

.main {
  display: inline-block;
  margin: 0 0 0 $sidebar-width;
  padding: $space-lg;
  background-color: #FBFBFA;
  width: calc(100% - #{$sidebar-width});
  min-height: 100%;

  animation: scaling .3s;
}
