$space-lg: 20px;
$space-md: 14px;
$space-sm: 8px;

$sidebar-width: 140px;

$color-primary: #61dafb;
$color-danger: #CC4747;
$color-success: #01BF6A;
$color-white: #ffffff;
$color-black: rgba(0,0,0,0.87);

$border-radius: 4px;

$content-bg-color: $color-white;

$bg-color-1: #E3D8F1;
$bg-color-2: #DABECA;
$bg-color-3: #BF8B85;
$bg-color-4: #AD8A64;
$bg-color-5: #5D5F71;

$border-color: lighten($bg-color-5, 35%);

$box-shadow-default: 0px 0px 4px -1px $color-black;
$box-shadow-default-hover: 1px 1px 6px -1px $color-black;

$color-text: #212333;
