@import "../../../styles/variables";

.form {
  input {
    background-color: rgba($color-black, .2);
    border: none;
    height: 45px;
    font-size: 1rem;
    padding-left: $space-sm;
  }

  button {
    display: inline;
  }

  button + button {
    margin-left: $space-sm;
  }
}
