@import "../../../styles/variables";

$top-space: -5px;

.textField {
  position: relative;

  & + .textField {
    margin-top: $space-lg;
  }

  label:hover,
  div:focus + label,
  div:hover + label,
  input:focus + label,
  input:hover + label {
    top: $top-space;
  }

  input {
    border-radius: $border-radius;
    margin-top: 10px;
    width: 100%;
  }

  label {
    transition: all .15s linear;
    font-size: .75rem;
    content: '';
    position: absolute;
    top: 25px;
    left: $space-sm;
  }

  &--active {
    input + label {
      top: $top-space;
    }
  }

  &__label,
  &__input {
    &--white {
      label, input {
        color: $color-white;
      }
    }
  }
}
