@import "../../../styles/variables";

.button {
  padding: 4px;
  font-size: 1rem;
  border-radius: $border-radius;
  box-shadow: $box-shadow-default;
  transition: all .1s linear;
  border: none;
  color: $color-text;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-default-hover;
  }

  &--lg {
    padding: $space-lg calc(#{$space-lg} * 2);
  }

  &--md {
    padding: $space-md calc(#{$space-md} * 2);;
  }

  &--sm {
    padding: $space-sm calc(#{$space-sm} * 2);;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white
  }

  &--danger {
    background-color: $color-danger;
  }

  &--success {
    background-color: $color-success;
  }

}
