@import "../../../styles/variables";
@import "../../../styles/mixins";

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  background: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: slideToRight .3s;
  z-index: 1;

  ul {
    position: relative;
    left: 8.4px;

    li {
      transition: all .3s ease-in-out;
      cursor: pointer;
      position: relative;

      &:nth-child(odd) {
        transform: skew(10deg);
        background: darken($color-primary, 10%);
      }

      &:nth-child(even) {
        transform: skew(-10deg);
        background: darken($color-primary, 20%);
      }

      &:hover {
        //transform: scale(1.05);
        background: darken($color-primary, 40%);
      }

      a {
        display: block;
        padding: calc(#{$space-lg} * 2) 0 calc(#{$space-lg} * 2) $space-lg;
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}
